<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title><splice lquery="(text (clip :article 'title))"></splice> - Reader</title>
    <link rel="stylesheet" type="text/css" href="/static/reader/reader.css" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <article>
      <using field=":article">
        <header>
          <div>
            <a href="#" id="author-avatar" lquery="(attr :href (profile:page author))">
              <img src="" lquery="(attr :src (profile:avatar author 96))" alt="Avatar" />
            </a>
            <h1><a href="#" lquery="(attr :href (reader::article-url _id)) (text title)">TITLE</a></h1>
            <div class="date" lquery="(text (reader::format-time time))">20xx.xx.xx</div>
            <nav id="tags">
              <ul iterate="tags">
                <li><a href="#" lquery="(attr :href (reader::tag-url *)) (text *)">TAG</a></li>
              </ul>
            </nav>
            <a href="/" id="index-link">Index</a>
          </div>
        </header>
        <section id="article-body">
          <div iterate="(reader::series tags _id)">
            <nav class="series">
              <div class="description">
                This article is a part of the series <span class="series-title" lquery="(text title)">TITLE</span>.
              </div>
              <div class="links">
                <when test=":first">
                  <a class="first" href="#" lquery="(attr :href (reader::article-url (clip :first '_id))) (text (clip :first 'title))">First</a>
                </when>
                <when test=":prev">
                  <a class="prev" href="#" lquery="(attr :href (reader::article-url (clip :prev '_id))) (text (clip :prev 'title))">Previous</a>
                </when>
                <when test=":next">
                  <a class="next" href="#" lquery="(attr :href (reader::article-url (clip :next '_id))) (text (clip :next 'title))">Next</a>
                </when>
              </div>
            </nav>
          </div>
          <blockquote lquery="(html (reader::parse text))">
            TEXT
          </blockquote>
        </section>
      </using>
      <footer>
        <nav id="move">
          <when test=":prev">
            <a class="prev" href="#" lquery="(attr :href (reader::article-url (clip :prev '_id))) (text (clip :prev 'title))">Previous</a>
          </when>
          <when test=":next">
            <a class="next" href="#" lquery="(attr :href (reader::article-url (clip :next '_id))) (text (clip :next 'title))">Next</a>
          </when>
        </nav>
        <nav id="default-linkage">
          <ul iterate="links">
            <li><a href="#" lquery="(attr :href url) (text title)">LINK</a></li>
          </ul>
        </nav>
      </footer>
    </article>
  </body>
</html>
